@model IList<ProductViewModel>
@foreach (var product in Model)
{
    <div class="cus-xl-3 col-lg-3 col-md-11 col-12 mb-30 px-10">
    <div class="card product product--grid">
        <div class="h-100">
            <div class="product-item">
                <div class="product-item__image">
                    <span class="like-icon">
                        <button type="button" class="content-center">
                            <i class="lar la-heart icon"></i>
                        </button>
                    </span>
                    <a href="#"><img class="card-img-top img-fluid" src="@product.ImageURL" alt="digital-chair"></a>
                </div>
                <div class="card-body px-20 pb-25 pt-25">
                    <div class="product-item__body text-capitalize">
                        <a href="product-details.html">
                            <h6 class="card-title product-name-truncate">@product.Name</h6>
                        </a>
                        <div class="stars-rating d-flex align-items-center flex-wrap mb-10">
                            <span class="star-icon las la-star active"></span>
                            <span class="star-icon las la-star active"></span>
                            <span class="star-icon las la-star active"></span>
                            <span class="star-icon las la-star active"></span>
                            <span class="star-icon las la-star-half-alt active"></span>
                            <span class="stars-rating__point">4.9</span>
                            <span class="stars-rating__review">
                                <span>778</span> Reviews
                            </span>
                        </div>
                    </div>
                    <div class="product-item__footer">

                        <div class="d-flex align-items-center flex-wrap">
                            <span class="product-desc-price">@product.DiscountPrice?.ToString("#,##0 VND")</span>
                            <span class="product-price">@product.Price.ToString("#,##0 VND")</span>
                            <span class="product-discount">@product.GetDiscountPercent()% Off</span>
                        </div>
                    </div>
                    <div class="product-item__button d-flex mt-20 flex-wrap">
                        <button class="btn btn-default btn-squared color-light btn-outline-light px-20 ">
                            <img src="/img/svg/shopping-bag.svg" alt="shopping-bag" class="svg">
                            Thêm giỏ hàng
                        </button>
                        <a asp-action="Detail" asp-controller="Products" asp-route-id="@product.Id"
                            asp-route-slug="@product.Alias"
                            class="btn btn-primary btn-default btn-squared border-0 px-25">
                            Xem chi tiết
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}